@import 'fonts';
@import 'base';
@import 'variables';
@import 'null';
@import 'animation';
@import 'typography';

#app {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  transition: $time-animation all ease-in-out;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  color: #000;
  flex: 1 1 auto;
}
